.figmaland__content-main {
  /* text-align: center; */
  /* position: relative; */
  /* z-index: -1; */
  display: flex;
  width: 100vw;
  height: 70vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  /* background: chartreuse; */
}
.figmaland__content-heading {
  font-family: Graphik;
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 88px;
  width: 50vw;
  /* or 110% */
  text-align: center;
  letter-spacing: 0.2px;

  /* light text */
  color: #ffffff;
}
.figmaland__content-content {
  width: 40vw;
  font-family: Graphik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  /* or 150% */
  text-align: center;
  letter-spacing: 0.2px;
}
.figmaland__content-button {
  width: 40vw;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 450px) {
  .figmaland__content-main {
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
    /* position: absolute; */
    /* z-index: 1; */
  }
  .figmaland__content-heading {
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 38px;
    width: 50vw;
    /* position: absolute; */
    /* or 110% */
    text-align: center;
    letter-spacing: 0.2px;

    /* light text */
    color: #ffffff;
  }
  .figmaland__content-content {
    width: 80vw;
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    /* position: absolute; */

    /* or 150% */
    text-align: center;
    letter-spacing: 0.2px;
  }
  .figmaland__content-button {
    /* background-color: aqua; */
    width: 40vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
