.figmaland__content {
  /* max-height: 100vh; */
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.figmaland__content-top {
  min-height: 20vh;
  width: 30%;
  text-align: center;
}
.figmaland__content-top__heading {
  padding-top: 1rem;
  font-family: Graphik;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.figmaland__content-top__content {
  font-family: Graphik;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.figmaland__content-bottom {
  /* min-height: 70vh; */
  /* max-height: 70vh; */
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.figmaland__content-bottom__card {
  min-height: 70vh;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  background: #ffffff;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.figmaland__content-bottom__card-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #000000;
}
.figmaland__content-bottom__card-content {
  width: 70%;
  font-family: Graphik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #5c5c5c;
}
.figmaland__content-bottom__card-button {
  width: auto;
  display: flex;
  justify-content: center;
}
.figmaland__content-bottom__card-image {
  width: 70%;
  height: 10%;
}
.figmaland__content-bottom__card-image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 450px) {
  .figmaland__content-top {
    min-height: 20vh;
    width: 60%;
    text-align: center;
  }
  .figmaland__content-bottom {
    min-height: 100vh;
    /* max-height: 70vh; */
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
  }
  .figmaland__content-bottom__card {
    /* max-height: 32vh; */
    min-height: 45vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #ffffff;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
}
