.figmaland__navbar {
  /* overflow-y: hidden; */
  /* height: 20vh; */
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 4rem;
  /* background-color: cornflowerblue; */
}

.figmaland__navbar-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
.figmaland__navbar-logo {
  width: 30vmin;
  height: 15vmin;
  /* background-color: chartreuse; */
}
.figmaland__navbar-logo img {
  width: 100%;
  height: 100%;
}
.figmaland__navbar-links {
  margin-left: -4rem;
  display: flex;
  width: 60vmin;
  justify-content: space-between;
  color: white;
  /* background-color: chartreuse; */
}
.figmaland__navbar-menu {
  display: none;
}

@media screen and (max-width: 450px) {
  .figmaland__navbar {
    /* background-color: chartreuse; */
    overflow-x: hidden;
    position: relative;
    /* width: 100vw; */
    /* max-height: 10vh; */
    display: flex;
    justify-content: space-evenly;
    padding-left: 0rem;
  }
  .figmaland__navbar-logo {
    /* background-color: cornflowerblue; */
    /* width: 30vw; */
    width: 45vmin;
  }
  .figmaland__navbar-button {
    /* width: auto; */
    width: 40vmin;
    /* background-color: chocolate; */
  }
  .figmaland__navbar-menu {
    display: block;
  }
  .figmaland__navbar-menu__show {
    color: white;
    background-color: aqua;
    width: 20vw;
    position: absolute;

    top: 40%;
    right: 15%;
    /* z-index: 2; */
  }
  .figmaland__navbar-links {
    display: none;
  }
}
@media screen and (max-width: 900px) and (min-width: 451px) {
  .figmaland__navbar {
    /* background-color: chartreuse; */
    overflow-x: hidden;
    position: relative;
    /* width: 100vw; */
    /* max-height: 10vh; */
    display: flex;
    justify-content: space-evenly;
    padding-left: 0rem;
  }
  .figmaland__navbar-logo {
    /* background-color: cornflowerblue; */
    /* width: 30vw; */
    width: 45vmin;
  }
  .figmaland__navbar-button {
    /* width: auto; */
    width: 25vmin;
    /* background-color: chocolate; */
  }
  .figmaland__navbar-menu {
    display: block;
  }
  .figmaland__navbar-menu__show {
    color: white;
    background-color: aqua;
    width: 20vw;
    position: absolute;

    top: 40%;
    right: 15%;
    /* z-index: 2; */
  }
  .figmaland__navbar-links {
    display: none;
  }
}
