.figmaland__navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 4rem;
}

.figmaland__navbar-links {
  margin-left: -4rem;
  display: flex;
  width: 30%;
  justify-content: space-between;
  /* background: chartreuse; */
  color: white;
}
.figmaland__navbar-menu {
  display: none;
}

@media screen and (max-width: 500px) {
}
