.figmaland__feature {
  /* margin-top: 0% auto; */
  /* padding: 0% auto; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  height: 600px;
  /* background-color: chocolate; */
}
.figmaland__feature-top {
  padding-top: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  /* background-color: chartreuse; */
}
.figmaland__feature-top__heading {
  font-family: Graphik;
  font-style: normal;
  font-weight: normal;

  font-size: 1.7rem;
  line-height: 2px;

  /* identical to box height, or 119% */
  letter-spacing: 0.2px;

  /* light text */
  color: #ffffff;
}
.figmaland__feature-top__content {
  width: 55%;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.3rem;

  /* or 150% */
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.figmaland__feature-bottom {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  /* background-color: chartreuse; */
  /* background-color: crimson; */
  padding-bottom: 2.5rem;
  height: 300px;
}
.figmaland__feature-bottom__image {
  position: relative;
  background-image: url("../../Assests/ChatBot.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  width: 80vmin;
  /* background-color: cyan; */
}
.figmaland__feature-bottom__sidecard {
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  /* background-color:   cornflowerblue ; */
  text-align: center;
  width: 40vmin;
  height: 350px;
}
.figmaland__feature-bottom__image div {
  width: 40vmin;
  height: 35vmin;
  position: absolute;
  top: 60%;
  left: 50%;
}
.figmaland__feature-bottom__image div > img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .figmaland__feature {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100vw;
    height: 100vh;
    /* background-color: chocolate; */
  }
  .figmaland__feature-top {
    padding-top: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
    /* background-color: chartreuse; */
  }
  .figmaland__feature-top__heading {
    font-size: 25px;
    line-height: 10px;
    letter-spacing: 0.2px;
    color: #ffffff;
  }
  .figmaland__feature-top__content {
    width: 70%;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #ffffff;
  }
  .figmaland__feature-bottom {
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: coral; */
  }
  .figmaland__feature-bottom__image {
    /* z-index: 1; */
    width: 70vmin;
    height: 80vmin;
    /* background-color: chartreuse; */
  }
  .figmaland__feature-bottom__image div {
    width: 40vmin;
    height: 30vmin;
  }
  .figmaland__feature-bottom__sidecard {
    margin-top: 4rem;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    /* background-color: crimson; */
  }
}
@media screen and (max-width: 1200px) and (min-width: 601px) {
  .figmaland__feature-bottom {
    width: 80vmin;
    /* height: 100vh; */
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* align-items: center; */
    /* background-color: coral; */
  }
  .figmaland__feature-bottom__image {
    /* z-index: 1; */
    width: 70vmin;
    height: 40vmin;
  }
  .figmaland__feature-bottom__image div {
    width: 20vmin;
    height: 20vmin;
  }
  .figmaland__feature-bottom__sidecard {
    height: fit-content;
    /* margin-top: 4rem; */
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* align-items: center; */
    /* text-align: center; */
    width: 50%;
    /* background-color: crimson; */
  }
}
