.figmaland__status {
  /* overflow-y: hidden; */
  position: relative;
  max-width: 100vw;
  height: 100vh;
}
.image {
  width: 30%;
  height: 40%;
}
.image img {
  width: 100%;
  height: 100%;
}
.figmaland__status-One {
  position: absolute;
  top: 70px;
  left: 430px;
  transform: matrix(0.71, -0.54, 0.93, 0.71, 0, 0);
}
.figmaland__status-Two {
  position: absolute;
  top: 245px;
  /* left: 320px; */
  right: 180px;
  transform: matrix(0.71, 0.54, -0.93, 0.71, 0, 0);
}
.figmaland__status-Three {
  position: absolute;
  top: 280px;
  left: 200px;
  transform: matrix(0.71, 0.54, -0.93, 0.71, 0, 0);
}
.figmaland__status-gradient {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 40vh;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    #0e0e0e 66.15%
  );
}
