.figmaland__status {
  position: relative;
  max-width: 100vw;
  height: 100vh;
}
.image {
  height: 45vmin;
  width: 55vmin;
}
.figmaland__status-One {
  position: relative;
  background: url("../../Assests/Dashboard.png");

  background-size: 100%;
  transform: matrix(0.71, -0.54, 0.93, 0.71, 0, 0);
  top: 10%;
  left: 37%;
}
.figmaland__status-Two {
  position: absolute;
  background: url("../../Assests/ChatBot.png");
  background-size: 100%;
  top: 0%;
  right: 110%;
}
.figmaland__status-Three {
  position: absolute;
  background: url("../../Assests/Boards.png");
  background-size: 100%;
  top: 110%;
}
@media (width < 1066px) {
  .image {
    height: 25vmin;
    width: 35vmin;
  }
  .figmaland__status {
    height: 30vh;
  }
  .figmaland__status-One {
    left: 34%;
  }
}
